body {
	background: url(../bg_image.jpg) no-repeat center/cover fixed;
}

.card-img-top {
	background-color: aquamarine;
}

@media screen and (max-width: 48rem) {
	.product {
		min-width: 90vw;
	}
}
/*  min-vw-25 mw-25 */